.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Content {
  margin: 10px auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}

.TaskContainer {
  border: 1px solid #242323;
  border-radius: 10px;
  width: 290px;
  margin: 10px auto;
  cursor: pointer;
}

.TaskPriority p {
  color: red;
  font-weight: 700;
}

.InputTaskName {
  display: flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
